<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>DOUMS </title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{ style('style') }}

</head>
<body id="login-page" class="d-flex flex-column justify-content-center  align-items-center">
  <main class="container">
    <div class="row">
      <div class="col-12 mx-auto col-md-8 col-lg-5">
        <form class="form-login bg-dark w-100 h-100 p-5 p-lg-5 rounded text-white-50" action="{{ route('UserController.verifyLogin') }}" method="post">
          {{ csrfField() }}
          <fieldset class="d-flex flex-row flex-nowrap form-group mb-4">
            <legend id="DOUMS" class="col-form-legend text-center">DOUMS</legend>
        </fieldset>
          <div class="form-group my-4">
          <label for="usuario" class="col-form-label">user name</label>
            <input minlength="4" maxlength="12" required type="text" class="form-control" name="username" id="username" placeholder="nome de usuario">
          </div>
          <div class="form-group my-4">
            <label for="inputName" class="col-form-label">password</label>
            <input required type="password" minlength="8" maxlength="12" class="form-control" name="password" id="password" placeholder="senha de acesso">
          </div>
          <div class="form-group mt-5 mb-2">
            <button type="submit" class="btn btn-block btn-lg btn-primary mx-auto">Log in</button>
          </div>
          <div class="d-flex form-group mt-2 mb-4">
            <a class="mx-auto text-muted" href="_self" href="/verify">help</a>
          </div>
          <div class="d-flex form-group mt-4 mb-0">
            <small class="text-muted mx-auto h-75">powred by YanPolicarpo</small>
          </div>
        </form>
      </div>
    </div>
  </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
